* {
  box-sizing: border-box;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg-light);
  transition: color 500ms ease, background-color 500ms ease;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  color: inherit;
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}
